<h1><%= @category_group.name %></h1>

<div class="row">
  <div class="col-md-3 col-md-offset-9">
    <%= link_to 'Edit', edit_category_group_path(@category_group), class: 'pull-right btn btn-warning' %>
  </div>
</div>
